image: docker:20.10.16

options:
  size: 2x

pipelines:
  branches:
    'release/v*': 
      - step:
          name: "Build and Push foodanalysis-backend to Docker Hub"
          services:
            - docker
          script:
            - echo "Logging in to Docker Hub..."
            - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
            
            - echo "Building Docker image for foodanalysis-backend..."
            - docker build -t $DOCKER_USERNAME/foodanalysis-backend:latest .
            
            - echo "Pushing Docker image to Docker Hub..."
            - docker push $DOCKER_USERNAME/foodanalysis-backend:latest

      - step:
          name: "Build and Push foodanalysis-nginx to Docker Hub"
          services:
            - docker
          script:
            - echo "Logging in to Docker Hub..."
            - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
            
            - echo "Building Docker image for foodanalysis-nginx..."
            - docker build -t $DOCKER_USERNAME/foodanalysis-nginx:latest ./nginx
            
            - echo "Pushing Docker image to Docker Hub..."
            - docker push $DOCKER_USERNAME/foodanalysis-nginx:latest

      - step:
          name: "Trigger Deployment on AWS"
          script:
            - echo "Installing curl..."
            - apk add --no-cache curl
            
            - echo "Triggering deployment and capturing logs..."
            - curl -X POST http://$DEPLOY_SERVER:8015/deploy-foodanalysis | tee deployment.log
