[phases.setup]
nixPkgs = [
  "python311",
  "python311Packages.pip",
  "python311Packages.pillow",
  "libGL",
  "libGLU",
  "glib",
  "zlib",
  "libjpeg",
  "libpng"
]

[phases.install]
cmds = [
  "python -m venv /app/venv",
  "/app/venv/bin/pip install --upgrade pip",
  "/app/venv/bin/pip install -r requirements.txt"
]

[start]
cmd = "/app/venv/bin/python manage.py collectstatic --noinput && /app/venv/bin/python manage.py migrate --noinput && /app/venv/bin/gunicorn foodanalysis.wsgi:application --bind 0.0.0.0:$PORT"
