[phases.setup]
nixPkgs = [
  "python311",
  "python311Packages.pip",
  "libGL",
  "libGLU",
  "glib",
  "zlib",
  "libjpeg",
  "libpng"
]

[phases.install]
cmds = [
  "pip install --break-system-packages --upgrade pip",
  "pip install --break-system-packages -r requirements.txt"
]

[start]
cmd = "python manage.py collectstatic --noinput && python manage.py migrate --noinput && gunicorn foodanalysis.wsgi:application --bind 0.0.0.0:$PORT"
