[phases.setup]
nixPkgs = [
  "python311",
  "python311Packages.django",
  "python311Packages.gunicorn",
  "python311Packages.whitenoise"
]

[start]
cmd = "python manage.py collectstatic --noinput && python manage.py migrate --noinput && gunicorn foodanalysis.wsgi:application --bind 0.0.0.0:$PORT"
