Django>=4.2,<5.0
gunicorn>=21.2.0
psycopg2-binary>=2.9.9
python-dotenv>=1.0.0
whitenoise>=6.6.0
certifi
django-storages
django-allauth
django-cors-headers
requests
PyJWT>=2.8.0
cryptography
djangorestframework